version: "3.9"

services:
  backend:
    build:
      context: ./backend
      target: production
    command: npm run start
    ports:
      - "4000:4000"
    restart: always
    environment:
      NODE_ENV: production

  frontend:
    build:
      context: ./frontend
      target: production
    command: npm run start
    ports:
      - "3000:3000"
    restart: always
    environment:
      NODE_ENV: production

  db:
    image: postgres:16
    environment:
      POSTGRES_USER: lumeo
      POSTGRES_PASSWORD: lumeo
      POSTGRES_DB: lumeo
    volumes:
      - pgdata:/var/lib/postgresql/data
    restart: always
