version: "3.9"

services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    command: npm run dev
    ports:
      - "4000:3000"
    volumes:
      - ./backend:/app
      - /app/node_modules
      - ./themes:/app/themes
      - ./plugins:/app/plugins

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    command: npm run dev
    ports:
      - "3000:3000"
    volumes:
      - ./frontend:/app
      - /app/node_modules
      - ./themes:/app/themes
      - ./plugins:/app/plugins

  postgres:
    ports:
      - "5433:5432"
