name: CI Frontend

on:
  pull_request:
    branches:
      - main
      - develop

jobs:
  ci:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 20
          cache: 'pnpm'

      - name: Enable Corepack (PNPM)
        run: |
          corepack enable
          corepack prepare pnpm@9.0.0 --activate

      - name: Install dependencies
        working-directory: frontend
        run: pnpm install --frozen-lockfile

      - name: Run Prettier
        working-directory: frontend
        run: pnpm run format

      - name: Run Lint
        working-directory: frontend
        run: pnpm run lint

      - name: Build application
        working-directory: frontend
        run: pnpm run build
        env:
          CI: true
