name: CI Front End

on:
  pull_request:
    branches:
      - main
      - develop

jobs:
  prettier:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '20'
          # cache: 'pnpm'  <-- désactivé pour éviter le problème

      - name: Install PNPM and dependencies
        working-directory: frontend
        run: |
          corepack enable
          corepack prepare pnpm@9.0.0 --activate
          pnpm install --frozen-lockfile

      - name: Run prettier check
        working-directory: frontend
        run: pnpm run format

  lint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '20'

      - name: Install PNPM and dependencies
        working-directory: frontend
        run: |
          corepack enable
          corepack prepare pnpm@9.0.0 --activate
          pnpm install --frozen-lockfile

      - name: Run lint check
        working-directory: frontend
        run: pnpm run lint

  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '20'

      - name: Install PNPM and dependencies
        working-directory: frontend
        run: |
          corepack enable
          corepack prepare pnpm@9.0.0 --activate
          pnpm install --frozen-lockfile

      - name: Build application
        working-directory: frontend
        run: pnpm run build
        env:
          CI: true