name: CI Frontend

on:
  pull_request:
    branches:
      - main
      - develop

jobs:
  setup:
    runs-on: ubuntu-latest
    outputs:
      node-version: '20'
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 20
          cache: 'pnpm'

      - name: Enable Corepack (PNPM)
        run: corepack enable

      - name: Install dependencies
        working-directory: frontend
        run: pnpm install --frozen-lockfile

  prettier:
    runs-on: ubuntu-latest
    needs: setup
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Run prettier check
        working-directory: frontend
        run: pnpm run format

  lint:
    runs-on: ubuntu-latest
    needs: setup
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Run lint check
        working-directory: frontend
        run: pnpm run lint

  build:
    runs-on: ubuntu-latest
    needs: setup
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Build application
        working-directory: frontend
        run: pnpm run build
        env:
          CI: true
